<h2>About the headings font</h2>
<p>The FontStruction “Dragon Warrior IV (NES)” (https://fontstruct.com/fontstructions/show/2355548) by Patrick H. Lauke is licensed under a Creative Commons Attribution license (http://creativecommons.org/licenses/by/3.0/).</p>
<p>“Dragon Warrior IV (NES)” was originally cloned (copied) from the FontStruction “Dragon Warrior (NES)” (https://fontstruct.com/fontstructions/show/1312022) by Patrick H. Lauke, which is licensed under a Creative Commons Attribution license (http://creativecommons.org/licenses/by/3.0/).</p>