---
import EntryLayout from '../layouts/EntryLayout.astro';

const title = 'NOQUEST';
const description = "NOQUEST is an album series by Starchildluke, inspired by the Dragon Quest video games series."
---

<EntryLayout {title} {description}>
        	<div class="logo">
        		<img src="/images/noquest-logo.webp" width="250" height="115">
        	</div>
        	<nav class="home-text">
	        	<ul>
		        	<li><a href="/albums/">Start</a></li>
		        	<li><a href="/about/">About</a></li>
		        </ul>
	        <nav>
	        	<p>Starchildluke © 2024</p>
</EntryLayout>