<header>
  <nav>
    <ul class="center nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/uses/">Uses</a></li>
      <li><a href="/posts/">Posts</a></li>
      <li><a href="/jardim/">Jardim</a></li>
      <li><a href="/mlog/">Mlog</a></li>
      <li><a href="/music/">Music</a></li>
      <li><a href="/projects/">Projects</a></li>
      <li><a href="/press/">Press</a></li>
      <li><a href="/support/">Support</a></li>
      <li><a href="/misc/">Misc</a></li>
    </ul>
  </nav>
</header>